.google-logo{
  font-size: 23px;
  color: red;
}
.facebook-logo{
  font-size: 25px;
  color: #4267b2;
}
.fb-text{
  margin-left:6px;
  font-size: 15px;
  font-weight: lighter;
  color: black;
}
.google-text{
  margin-left:10px;
  font-size: 15px;
  font-weight: lighter;
  color: black;
}
